@import "tailwindcss";

.no-highlight {
    background-color: transparent !important;
}

.active {
    color: #38d49c;
}

@media (max-width: 760px) {
    .active {
        background-color: #09385e;
        color: #38d49c;
        border-radius: 8px;
    }
}

.input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 0.3rem; /* space between inputs and errors */
}

.input-wrapper input {
  border-bottom: 2px solid #d1d5db;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  outline: none;
  color: black;
}

.input-wrapper span {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #22518f;
  width: 0;
  transition: width 0.5s ease-in-out;
  pointer-events: none;
}

.input-wrapper:focus-within span {
  width: 100%;
}

/* Responsive Image Dimensions */
.responsive-slideshow-image {
  width: 679px;
  height: 382px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .responsive-slideshow-image {
    width: 885px;
    height: 498px;
  }
}

/* About Page Responsive Images */
.responsive-logo {
  width: 348px;
  height: 348px;
  object-fit: contain;
}

@media (min-width: 768px) {
  .responsive-logo {
    width: 512px;
    height: 512px;
  }
}

.responsive-hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .responsive-hero-image {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .responsive-hero-image {
    width: 100%;
    height: 100%;
  }
}
